<!DOCTYPE html>
<html lang="en" id=<%= username %>>

<head>
        <meta charset="UTF-8" />
        <title>
                Boards | Prello
        </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/stylesheets/boards.css">
</head>

<body>
        <!-- Header Nav -->
        <header>
                <nav>
                        <div id="nav-left">
                                <button class="board-btn"><i class="fa fa-trello" aria-hidden="true"></i>&nbsp;Boards</button>
                                <input type="text" id="search-input" name="search" />
                                <span id="search"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                        <div id="nav-middle"><i class="fa fa-hand-o-up" aria-hidden="true"></i> Prello</div>
                        <div id="nav-right">
                                <i id="user-icon" class="fa fa-plus" aria-hidden="true"></i>
                                <i id="user-icon" class="fa fa-info" aria-hidden="true"></i>
                                <i id="user-icon" class="fa fa-bell-o" aria-hidden="true"></i>
                                <i id="user-icon" class="fa fa-user-o" aria-hidden="true"></i>
                                <div id="right-menu"></div>
                        </div>
                </nav>
        </header>

        <!-- Welcome -->
        <br />
        <div id="welcome">
                <h2><i class="fa fa-user-o" aria-hidden="true"></i> Personal Boards</h2>
                <div id="boards-container">
                        <button id='add-board-btn'>Create new Board...</button>
                </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/javascripts/boards.js"></script>
</body>

</html>