<%- include('templates/header.ejs') %> 
<body>
        <heading>
                <h1>Prello</h1>
        </heading>

        <div class=register>
                <h2>Create an Account</h2>
                <form id="register-form" action="localhost:3000/user/register">
                        <p>Username</p>
                        <input type="text" id="username" name="username" placeholder="e.g. proudcatlady245" required>
                        <p>Email</p>
                        <input type="email" id="email" name="email" placeholder="e.g. 1234@gmail.com" required>
                        <p>Password</p>
                        <input type="password" id="password" name="password">
                        <p>Confirm Password</p>
                        <input type="password" id="password-confirm" name="confirm password"><br>
                        <input class="button" id="register-btn" type="submit" value="Register">
                </form>
        </div>

        <div class=login>
                <h2>Sign In</h2>
                <form>
                        <p>Username</p>
                        <input type="text" name="username">
                        <p>Password</p>
                        <input type="password" name="password"><br>
                        <input type="checkbox" name="remember me" value="remember">
                        <label for="remember me">Remember me</label><br>
                        <input class="button" type="submit" value="Sign In">
                </form>
        </div>
<%- include('templates/footer.ejs') %> 