<!DOCTYPE html>
<html>

<head>
        <title>Reset Success!</title>
</head>

<body>
        <h1>
                <%= title %>
        </h1>
        <a href='/login'>Back to login page</a>

</body>

</html>